In [1]:
import pandas as pd
df1 = pd.read_csv('210730_HNX_ALL.txt', sep = ',')
df2 = pd.read_csv('210730_HOSE_ALL.txt', sep = ',')

frames = [df1, df2]
df = pd.concat(frames, ignore_index = True)
df.head()

  <Ticker>  <DTYYYYMMDD>  <Open>  <High>  <Low>  <Close>  <Volume>
0      AAV      20210730    12.4    12.4   12.1     12.4    166400
1      ABT      20210730    26.0    27.2   26.0     27.1      1207
2      ACM      20210730     2.3     2.4    2.3      2.4    592463
3      ADC      20210730    21.5    21.5   21.5     21.5         0
4      ALT      20210730    12.7    12.7   12.7     12.7         0

In [2]:
df.columns=df.columns.str.replace('[<,>]','', regex=True)
df.head()

# Drop duplicate records
df_modified = df.drop_duplicates(subset = ['Ticker'], keep = 'first')
df_modified = df_modified[['Ticker']]
print(df_modified)

       Ticker
0         AAV
1         ABT
2         ACM
3         ADC
4         ALT
...       ...
721477    VSI
721478    VTB
721479    VTO
721480    YBM
721481    YEG

[750 rows x 1 columns]

In [3]:
df.to_excel("ticker.xlsx")

ValueError: This sheet is too large! Your sheet size is: 1436020, 7 Max sheet size is: 1048576, 16384